@using DatabaseSetupLocal.Repository
@model List<(UserShots, List<int>)>
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    var year = DateTime.Now.Year;
}

<h2>Results</h2>
<table>
    <tr>
        <th>
            <h4>User name:</h4>
        </th>
        <th></th>
    </tr>
    <canvas id="myChart"></canvas>

    @foreach (var item in Model)
    {
        <tr>
            @if (!item.Item1.Hidden || ViewBag.IsUserAdmin)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Item1.UserName)
                </td>
                <td>

                    @{
                        var sum = item.Item2.Sum();
                        Html.DisplayFor(modelItem => sum);

                    }
                </td>
            }
        </tr>
    }
</table>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: @Html.Raw(Json.Serialize(Model.First().Item1.Race.Select(x => x.RaceLocation).ToArray())),
            datasets: [{
                label: 'F1 Shots 2022',
                data: @Html.Raw(Json.Serialize(Model.First().Item2.ToArray())),
                fill: false,
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.1
            }]
        },
        options: {}
    });
</script>