@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<style>
    .login {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70vh;
    }

    .login-form {
        max-width: 400px;
        padding: 10px;
        background-color: #f8f9fa;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .login-form h2 {
        margin-bottom: 20px;
    }

    .login-form .form-floating {
        margin-bottom: 15px;
    }

    .login-form .form-check-label {
        margin-left: 5px;
    }

    .login-form .login-button {
        /*margin-top: 20px;*/
    }
    .custom-form-input input {
            height: 50px !important;
    }
        
</style>


<div class="login">
    <div class="col-md-4 login-form">
        <form id="account" method="post">
            <h2>Use a local account to log in.</h2>
            <hr/>
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating custom-form-input">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com"/>
                <label asp-for="Input.Email" class="form-label">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating custom-form-input">
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password"/>
                <label asp-for="Input.Password" class="form-label">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-check mb-3">
                <input class="form-check-input" asp-for="Input.RememberMe"/>
                <label asp-for="Input.RememberMe" class="form-check-label">@Html.DisplayNameFor(m => m.Input.RememberMe)</label>
            </div>
            <div class="login-button">
                <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
            </div>
            <div>
                @* <p> *@
                @*     <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a> *@
                @* </p> *@
                <p>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                </p>
                @* <p> *@
                @*     <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a> *@
                @* </p> *@
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}