@using Microsoft.AspNetCore.Identity
@using DatabaseSetupLocal.Areas.Identity.Data
@using DatabaseSetupLocal.Repository
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@using DatabaseSetupLocal.Repository
@inject ShotsRepository ShotsRepository

<style>
    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #f5f5f5;
        text-align: center;
        font-size: 14px;
        padding: 10px 0;
    }
    .dropdown-submenu {
      position: relative;
    }
    
    .dropdown-submenu .dropdown-menu {
      top: 0;
      left: 100%;
      margin-top: -1px;
      overflow: visible;
    }
</style>
@{
    var users = ShotsRepository.GetUsers();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - F1Shots</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/DatabaseSetupLocal.styles.css" asp-append-version="true"/>
    <link rel="shortcut icon" href="/favicon.ico">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">F1Shots™</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-flex justify-content-between">
                <ul class="navbar-nav navbar-center">
                    <!-- Apply the CSS class here -->
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Shots" asp-action="Index">Users List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Shots" asp-action="Results">Results</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Shots" asp-action="Schedule">Schedule</a>
                    </li>
                    @if (@User.Identity?.Name != null)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Shots" asp-action="LiveTiming">Live Timing</a>
                        </li>
                    }
                    <li>
                        <partial name="UsersNavigationPartial"/>

                    </li>
                </ul>


                <div style="float: right">
                <partial name="_LoginPartial"/>
                    
                </div>
            </div>
        </div>
    </nav>
</header>

<style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .nav-item {
        display: inline-block;
        padding: 10px;
    }

    .nav-link {
        color: white;
        text-decoration: none;
        font-size: small;
    }

    .navbar-nav.navbar-center {
        margin: auto;
        display: flex;
        align-items: center;
    }
</style>

<div class="container">
    <main role="main" class="pb-3">

        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted" style="bottom: 0">
    <div class="container">
        &copy; 2023 - F1Shots™ - Radosław Krowicki - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>