@model List<Shot>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<h2>@ViewBag.User.UserName</h2>
<h2>@ViewBag.Location</h2>

<table>
    <tr>
        <th>
            <a>Position</a>
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model[0].Driver)
        </th>
        <th></th>
    </tr>

    @for (var i = 1; i - 1 < Model.Count; i++)
    {
        <tr>
            <td>
                @i
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model[i - 1].Driver)
            </td>

        </tr>
    }
</table>