@using DatabaseSetupLocal.Data
@model List<UserShots>

@{
    ViewBag.Title = "User List";
    Layout = "_Layout";
}

<div>

    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(Model => Model.First().UserName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>

                <td>
                    @Html.ActionLink("Years", "Years", new {userId = item.Id}) |
                </td>
            </tr>
        }
    </table>
    @if (ViewBag.AppUserId == null)
    {
        <a>Register to add a user.</a>
    }
    else
    {
        @Html.ActionLink("Add new user", "AddUser", null, new{userId = ViewBag.AppUserId}, new {@class = "btn btn-primary", @style = "margin-top: 20px"})
    }
    

</div>