@using DatabaseSetupLocal.Data
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model List<UserShots>

@{
    ViewBag.Title = "User List";
    Layout = "_Layout";
}
@* @Html.Partial("UsersNavigationPartial") *@

<div class="align-middle" style="margin-left: 40%">

    <table>
        <tr>
            <th>
                <h4>User name:</h4>
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>

                <td>
                    @Html.ActionLink("Years", "Years", new {userId = item.Id}, new {@class = "btn btn-primary"})
                </td>
            </tr>
        }
    </table>
    @if (ViewBag.AppUserId == null)
    {
        <a>Login to add a user.</a>
    }
    else
    {
        @Html.ActionLink("Add new user", "AddUser", null, new{userId = ViewBag.AppUserId}, new {@class = "btn btn-primary", @style = "margin-top: 20px; margin-left: 7%"})
    }
    

</div>