@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to F1 Shots</h1>
    @if (ViewBag.AppUserId == null)
    {
        <h3>Login to get to current race.</h3>
    }
    else
    {
        <p>Go to current race!</p>
        @Html.ActionLink("Current race", "CurrentRace", "Shots", new {userId = ViewBag.AppUserId}, new {@class = "btn btn-primary", @style = "margin-top: 20px"})
    }
        @Html.ActionLink("Users List", "Index", "Shots", new {userId = ViewBag.AppUserId}, new {@class = "btn btn-primary", @style = "margin-top: 20px"})
    
</div>