@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (ViewBag.AppUserId == null)
    {
        <a>Login to get to current race.</a>
        @ViewBag.Path
    }
    else
    {
        <p>Go to current race!</p>
        @Html.ActionLink("Current race", "CurrentRace", "Shots", new{userId = ViewBag.AppUserId}, new {@class = "btn btn-primary", @style = "margin-top: 20px"})

    }
    </div>